<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="app/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>

<body ng-app="todoApp" ng-controller="taskCtrl">
    <div class="container">
        <h2 class="text-center">Task list</h2>

        <div class="content">
            <div col-lg-6 coil-md-6 col-sm-6>
                <form ng-submit="taskAdd()">
                    <input type="text" size="50" ng-model="taskInput" placeholder="Add new task">
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div class="task-div" ng-repeat="x in taskList">
                <input type="checkbox" ng-model="x.done"> <span ng-bind="x.taskText"></span>
            </div>

            <div class="btn-div">
                <button class="btn btn-primary" ng-click="remove()">Remove task</button>
            </div>
        </div>
    </div>

    <script src="app/app.js"></script>
</body>

</html>
